.softskills
    width: 100vw
    height: 80vh
    background-color: #525048
    display: flex
    justify-content: center
    align-items: center

.soft-container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-content: center
    width: 75%
    height: 65%
    gap: 2%

.soft
    height: 100%
    width: 100%

.softbis
    height: 100%
    width: 100%
    border-radius: 10px
    display: flex
    align-items: flex-end


.soft-content-container
    display: flex
    height: 80%
    flex-direction: column
    justify-content: space-between
    background-color: #6b665b
    box-shadow: 0 0 8px #6b665b
    border-radius: 10px
    perspective: 1000px
    transition: 0.5s
    &:hover
        transform: rotateY(1deg) translate3d(0, -8px, 0)
        box-shadow: 0 8px 20px 20px #6b665b57

.soft-content
    display: flex
    height: 100%
    padding-block: 15%
    padding-inline: 10%
    flex-direction: column
    justify-content: space-between
    color: #f8ebe7
    h3
        font-size: 22px
        font-weight: 600
        letter-spacing: 1px
    svg
        font-size: 90px
        color: #81ecec
    p
        color: #b7b4b0
        font-size: 15px

/* Téléphones très petits */
@media (max-width: 320px) 
/* Téléphones petits */
@media (max-width: 480px) 
/* Téléphones moyens à grands */
@media (max-width: 768px) 
/* Tablettes */
@media (max-width: 1024px) 
/* Ordinateurs portables */
@media (max-width: 1280px) 
/* Ordinateurs de bureau */
@media (max-width: 1440px) 
/* Écrans larges et ultra-larges */
@media (min-width: 1920px)
/* Écrans très larges (comme les 32 pouces 4K) */
@media (min-width: 2560px)
    .soft-content 
        svg
            font-size: 150px
        h3
            font-size: 40px
        p
            font-size: 20px