.formation
    width: 100vw
    height: 100vh
    background-color: #6b665b
    display: flex
    justify-content: flex-end
    align-items: center

.formation-bg
    width: 50%
    height: 100%
    background-image: url(../../assets/formation-bg.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    filter: brightness( 0.6 )
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px

.formation-container
    width: 43%
    height: 80%
    padding-left: 7%
    h3
        letter-spacing: 3px
        color: #81ecec
        font-size: 25px
        font-weight: 600
        text-transform: uppercase
    h1
        font-size: 50px
        color: #f8ebe7
        font-weight: 600
    p
        width: 85%
        margin-top: 25px
        margin-bottom: 30px
        color: #b7b4b0
        font-size: 18px
        font-weight: 400

.formation-div
    display: flex
    width: 100%
    align-items: flex-start
    gap: 4%
    margin-top: 10px

.formation-icon
    margin-top: 10px
    width: 80px
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #81ecec
    border-radius: 10px
    svg
        color: #81ecec
        font-size: 30px

.formation-text
    width: 100%
    h3
        color: #f8ebe7
        text-transform: capitalize
        letter-spacing: 0px
        font-size: 23px
    h4
        font-weight: 400
        font-size: 16px
        color: #f8ebe7
    p
        margin-top: 10px
        margin-bottom: 0
        font-size: 15px

/* Écrans très larges (comme les 32 pouces 4K) */
@media (min-width: 2560px)
    .formation-container
        h1
            font-size: 60px
        p
            font-size: 25px
    .formation-icon
        margin-top: 50px
    .formation-text
        margin-top: 40px
        h3
            font-size: 35px
        h4
            font-size: 22px
        p
            font-size: 20px

/* Écrans larges et ultra-larges */
@media (min-width: 1920px)
    .formation-icon
        margin-top: 20px
    .formation-text
        margin-top: 10px   
        h3
            font-size: 28px
        h4
            font-size: 19px
        p
            font-size: 17px

/* Ordinateurs de bureau */
@media (max-width: 1440px) 
    .formation-container
        h1
            font-size: 40px
        p
            font-size: 16px
            margin-top: 10px
    .formation-text
        p
            font-size: 15px

/* Ordinateurs portables */
@media (max-width: 1280px) 
    .formation-container
        h1
            font-size: 35px
        p
            font-size: 15px
    .formation-text
        p
            font-size: 14px

@media (max-width: 1024px) 
    .formation-container
        h1
            font-size: 35px
        p
            font-size: 14px
        h3
            font-size: 18px
    .formation-text
        h3
            font-size: 18px
        h4
            font-size: 14px
        p
            font-size: 13px

/* Téléphones très petits */
@media (max-width: 320px) 
/* Téléphones petits */
@media (max-width: 480px) 
/* Téléphones moyens à grands */
@media (max-width: 768px)