.about
    height: 100vh
    width: 100vw
    background-color: #6b665b
    display: flex
    justify-content: center
    align-items: center

.about-left
    width: 40%
    height: 80%
    display: flex
    align-items: center
    justify-content: right
    span
        color: #b9b6b549
        font-size: 170px
        transform: rotate(-90deg) translateY( 95% )
        font-weight: 600
        margin-top: 100px

.about-img-container
    position: relative
    width: 100%
    height: 90%
    margin-right: 15%
    img
        border-radius: 10px
        width: 350px
    svg
        font-size: 25px
        position: absolute
        bottom: -15px
        right: -18px
        color: #81ecec
        transition: 0.3s
        &:hover
            scale: 1.3

.about-circle
    position: absolute
    bottom: -80px
    right: -80px
    background-image: url(../../assets/circle-download.PNG)
    background-size: cover
    color: #81ecec
    width: 150px
    height: 150px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    animation: rotate 15s infinite linear

.about-right
    width: 40%
    height: 80%
    display: flex
    flex-direction: column
    h3
        letter-spacing: 3px
        color: #81ecec
        font-size: 25px
        font-weight: 600
        margin-top: 50px
    h1
        font-size: 50px
        color: #f8ebe7
        font-weight: 600
    p
        margin-top: 30px
        margin-bottom: 30px
        color: #b7b4b0
        font-size: 18px
        font-weight: 400

.about-infos
    border-top: 1px solid #b7b4b0
    border-bottom: 1px solid #b7b4b0
    display: flex
    padding-top: 30px
    font-size: 18px
    padding-bottom: 30px

.about-text
    display: flex
    width: 50%
    flex-direction: column
    color: #b7b4b0
    gap: 10px
    div
        display: flex

.text
    width: 48%

.info
    width: 25%
    font-weight: bold

@keyframes rotate
    from
        transform: rotate(0)
    to
        transform: rotate(360deg)

/* Écrans très larges (comme les 32 pouces 4K) */
@media (min-width: 2560px)
    .about-left
        span
            font-size: 300px
    .about-img-container
        img
            width: 540px
    .about-right
        h1
            font-size: 60px
        p
            font-size: 22px
            margin-block: 70px
    .about-text
        font-size: 22px

/* Écrans larges et ultra-larges */
@media (min-width: 1920px)
    .about-left
        span
            font-size: 200px
    .about-img-container
        img
            width: 400px

/* Ordinateurs de bureau */
@media (max-width: 1440px)
    .about-right
        h1
            font-size: 40px
        p
            font-size: 17px
    .about-text
        font-size: 16px

/* Ordinateurs portables */
@media (max-width: 1280px) 
    .about-left
        img
            width: 370px
    .about-right
        h1
            font-size: 35px
        p
            font-size: 16px
    .about-text
        font-size: 14px

/* Tablettes */
@media (max-width: 1024px) 
    .about
        flex-direction: column
        height: auto
    .about-left
        padding-top: 100px
        img
            width: 300px
    .about-right
        width: 80%
        padding-bottom: 100px
    .info
        font-size: 16px
    .text
        font-size: 16px

/* Téléphones très petits */
@media (max-width: 320px) 
/* Téléphones petits */
@media (max-width: 480px) 
/* Téléphones moyens à grands */
@media (max-width: 768px) 
