.home
    position: relative
    width: 100vw
    height: 100vh

.home-bg
    background-image: url(../../assets/bg-home.jpg)
    width: 100vw
    height: 100vh
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    filter: brightness( 0.6 )
    position: absolute
    top: 0
    left: 0
    z-index: 0

.home-container
    width: 100%
    height: 100%
    display: flex

.home-left
    width: 40%
    display: flex
    justify-content: center
    padding-left: 10%
    flex-direction: column
    h3
        font-size: 25px
        font-weight: 600
        letter-spacing: 3px
        color: #81ecec
    h1
        font-size: 100px
        width: 50%
        color: #f8ebe7
    h2
        color: #f8ebe7
        font-size: 25px
        display: flex
        align-items: center
        gap: 8px

.home-right
    width: 60%
    display: flex
    align-items: flex-end
    justify-content: center
    img
        width: 550px
        z-index: 1

.circle-bg
    background-color: black
    border-radius: 50%
    width: 550px
    height: 550px
    opacity: 0.15
    animation: reduce-grow 10s infinite ease-in-out
    position: absolute
    z-index: -1
    top: 200px
#job
    color: #81ecec

@keyframes reduce-grow
    0%
        scale: 1
    50%
        scale: 1.2
    100%
        scale: 1

@media (max-width: 2560px)
    .home-right img
        width: 800px
    .circle-bg
        width: 600px
        height: 600px
        top: 400px

/* Écrans larges et ultra-larges */
@media (max-width: 1920px)
    .home-right img
        width: 600px
    .circle-bg
        top: 220px

@media (max-width: 1800px) 
    .home-right img
        width: 550px
    .circle-bg
        width: 500px
        height: 500px
        top: 180px

@media (max-width: 1440px) 
    .circle-bg
        width: 450px
        height: 450px
        top: 280px
    .home-right img
        width: 500px

/* Tablettes */
@media (max-width: 1024px) 
    .circle-bg
        width: 400px
        height: 400px
    .home-left
        h1
            font-size: 80px
        h2, h3
            font-size: 20px

/* Téléphones moyens à grands */
@media (max-width: 768px) 
    .home-container
        flex-direction: column
        align-items: center
    .home-left
        width: 80%
        height: 50%
        padding-left: 0
        text-align: center
        display: flex
        justify-content: center
        h1
            width: 100%
        h3
            margin-top: 150px
        h2
            display: flex
            justify-content: center
    .home-right
        width: 100%
        height: 50%
        img
            width: 350px
    .circle-bg
        width: 280px
        height: 280px
        top: 470px

/* Téléphones petits */
@media (max-width: 480px)
    .circle-bg
        width: 250px
        height: 250px
        top: 480px
    .home-right img
        width: 300px
    .home-left
        h1
            font-size: 50px
        h3
            font-size: 15px
            margin-top: 100px
        h2
            font-size: 20px

/* Téléphones petits */
@media (max-width: 430px)
    .home-left
        width: 95%
        h1
            font-size: 40px
        h3
            font-size: 15px
        h2
            font-size: 15px

@media (max-width: 400px)
    .home-right img
        width: 280px
    .circle-bg
        width: 250px
        height: 250px