nav
    display: flex
    justify-content: flex-end
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 15vh
    align-items: center
    z-index: 10
    transition: 0.5s
    ul
        display: flex
        align-items: center
        gap: 40px
        list-style: none
        padding-inline: 0
        width: 38%
        li
            a
                text-decoration: none
                color: #f8ebe7
                font-size: 18px
                transition: 0.5s
                width: 100%
                position: relative
                font-weight: 500
                &:hover
                    color: #81ecec
                    &::before
                        width: 100%
            a::before
                content: ''
                position: absolute
                width: 0
                height: 2px
                background-color: #81ecec
                bottom: -5px
                left: 0
                transition: 0.3s
    button
        width: 10%
        height: 50px
        font-family: 'Poppins', sans-serif
        background-color: transparent
        border: 1.5px solid #81ecec
        border-radius: 5px
        color: #f8ebe7
        font-weight: 500
        font-size: 15px
        margin-right: 5%
        &:hover
            background-color: #81ecec
            color: #736b60
            border: none
            a
                color: #736b60
        a
            text-decoration: none
            color: #f8ebe7
            &:hover
                color: #736b60

.nav-scrolled
    height: 10vh
    background-color: #3f3d3776


/* Écrans très larges (comme les 32 pouces 4K) */
@media (min-width: 2560px)
    nav
        ul
            width: 30%
            li a
                font-size: 22px
        button
            font-size: 20px

/* Écrans larges et ultra-larges */
@media (min-width: 1920px) 
    nav
        ul
            width: 35%

/* Ordinateurs de bureau */
@media (max-width: 1440px) 
    nav
        ul
            width: 45%
            li a 
                font-size: 17px
        button
            font-size: 15px

/* Ordinateurs portables */
@media (max-width: 1280px) 
    nav
        ul
            width: 45%
            li a 
                font-size: 15px
        button
            font-size: 13px
            margin-right: 8%

/* Tablettes */
@media (max-width: 1024px) 
    nav
        ul
            width: 55%
            li a 
                font-size: 15px
        button
            font-size: 11px

/* Téléphones moyens à grands */
@media (max-width: 768px) 
    nav 
        button
            margin-right: 3%
            width: 20%
            font-size: 14px
        ul
            display: none

/* Téléphones très petits */
@media (max-width: 320px) 
/* Téléphones petits */
@media (max-width: 480px) 

