.experience
    width: 100vw
    height: 100vh
    background-color: #6b665b
    display: flex
    justify-content: flex-end
    align-items: center

.experience-bg
    width: 50%
    height: 100%
    background-image: url(../../assets/experience-bg.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    filter: brightness( 0.6 )
    border-bottom-left-radius: 15px

.experience-container
    width: 43%
    height: 80%
    h3
        letter-spacing: 3px
        color: #81ecec
        font-size: 25px
        font-weight: 600
        text-transform: uppercase
    h1
        font-size: 50px
        color: #f8ebe7
        font-weight: 600
    p
        width: 85%
        margin-top: 30px
        margin-bottom: 30px
        color: #b7b4b0
        font-size: 18px
        font-weight: 400

.experience-div
    display: flex
    width: 85%
    align-items: flex-start
    gap: 5%
    margin-top: 20px

.experience-icon
    margin-top: 10px
    width: 70px
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #81ecec
    border-radius: 10px
    transition: 0.3s
    svg
        color: #81ecec
        font-size: 30px
        transition: 0.3s

.experience-text
    width: 85%
    h3
        color: #f8ebe7
        text-transform: capitalize
        letter-spacing: 0px
    h4
        font-weight: 400
        color: #f8ebe7
    p
        margin-top: 10px
        margin-bottom: 0
        font-size: 15px

@keyframes rotateIcon
    0%
        transform: rotateY(0deg)
    100%
        transform: rotateY(360deg)

/* Écrans très larges (comme les 32 pouces 4K) */
@media (min-width: 2560px)
    .experience-container
        h1
            font-size: 60px
        p
            font-size: 25px
    .experience-icon
        margin-top: 50px
    .experience-text
        margin-top: 40px
        h3
            font-size: 35px
        h4
            font-size: 22px
        p
            font-size: 20px

/* Écrans larges et ultra-larges */
@media (min-width: 1920px)
    .experience-text
        h3
            font-size: 30px
        h4
            font-size: 20px
        p
            font-size: 18px

/* Ordinateurs de bureau */
@media (max-width: 1440px) 
    .experience-container
        p
            margin-top: 10px

/* Ordinateurs portables */
@media (max-width: 1280px) 
    .experience-container
        h1
            font-size: 40px
        p
            font-size: 17px
    .experience-text
        h3
            font-size: 23px
        h4
            font-size: 16px
        p
            font-size: 14px

/* Tablettes */
@media (max-width: 1024px) 
    .experience-container
        h1
            font-size: 35px
        p
            font-size: 15px
        h3
            font-size: 20px
    .experience-text
        h3
            font-size: 20px
        h4
            font-size: 15px
        p
            font-size: 13px

/* Téléphones moyens à grands */
@media (max-width: 768px) 
    .experience
        flex-direction: column
        height: auto
    .experience-bg
        height: 50%
        width: 100%
        padding-block: 30%
        margin-top: 50px
    .experience-container
        width: 80%
        height: 50%
        margin-top: 80px
        p
            margin-top: 5px
        h3
            font-size: 20px
    .experience-div
        width: 100%
        margin-top: 30px
    .experience-text
        h3
            font-size: 25px
        h4
            font-size: 18px
        p
            font-size: 15px
            width: 100%

/* Téléphones petits */
@media (max-width: 480px) 
    .experience-container
        width: 90%

/* Téléphones petits */
@media (max-width: 430px) 
    .experience-container
        width: 80%


/* Téléphones petits */
@media (max-width: 425px) 
    .experience-container
        width: 80%
    .experience-text
        h3
            font-size: 18px
        h4
            font-size: 15px
        p
            font-size: 13px

/* Téléphones très petits */
@media (max-width: 320px) 
